PyMuPDF
numpy
openai
requests
rank-bm25
scikit-learn
networkx
matplotlib
tqdm
Pillow
faiss-cpu
pandas
ipywidgets
rdflib
spacy
pyvis
datasets
transformers
accelerate
dotenv
langchain
langchain-community
unstructured
wikipedia
langchain_openai
tiktoken
sentence-transformers
chromadb
qdrant-client 
faiss-cpu
rank_bm25